#question-box,
#answer-box {
  display: flex;
  flex-direction: row;
  border-style: inset;
  border-color: white;
  border-radius: 5px;
  width: 1750px;
  height: 255px;
}
#landing {
  display: flex;
  justify-content: center;
}
.astro {
  border-style: inset;
  border-color: white;
  border-radius: 5px;
}
footer {
  background-color: #a6120d;
  color: #0d1922;
  text-decoration: none;
  font-size: 1.2em;
  padding: 0px 50px;
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer a {
  color: #0d1922;
}
footer a:hover {
  color: #0d1922;
  text-decoration: underline;
}
.title-font {
  display: inline-block;
  color: white;
  font-size: 48px;
  font: "Anton";
  font-weight: bold;
  width: 280px;
  background-color: #05299e;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 12px;
  padding-left: 12px;
  margin-top: 0px;
  border-style: inset;
  border-color: white;
  border-radius: 5px;
}

.Q1,
.Q2,
.Q3,
.Q4,
.Q5 {
  background-color: #05299e;
  height: 100px;
  width: 350px;
  color: white;
  font-size: 20px;
}
.Q1:hover + .A1 {
  background-color: #05299e;
  height: 100px;
  width: 350px;
  color: white;
  font-size: 20px;
  transition: all 0.3s;
}
.Q2:hover + .A2 {
  background-color: #05299e;
  height: 100px;
  width: 350px;
  color: white;
  font-size: 20px;
  transition: all 0.3s;
}
.Q3:hover + .A3 {
  background-color: #05299e;
  height: 100px;
  width: 350px;
  color: white;
  font-size: 20px;
  transition: all 0.3s;
}
.Q4:hover + .A4 {
  background-color: #05299e;
  height: 100px;
  width: 350px;
  color: white;
  font-size: 20px;
  transition: all 0.3s;
}
.Q5:hover + .A5 {
  background-color: #05299e;
  height: 100px;
  width: 350px;
  color: white;
  font-size: 20px;
  transition: all 0.3s;
}

.A1,
.A2,
.A3,
.A4,
.A5 {
  background-color: #05299e;
  height: 0px;
  width: 0px;
  color: white;
  font-size: 0px;
}

body {
  background-image: url("https://thumbs.gfycat.com/FineSecondaryEft-size_restricted.gif");
  object-fit: cover;
  background-size: cover;
}
#buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.dollar-sign {
  width: 100px;
  height: 150px;
  background-color: #c33c54;
  border-style: inset;
  border-color: white;
  border-radius: 10px;
}
.home-sign {
  width: 100px;
  height: 150px;
  background-color: #c33c54;
  margin-right: 150px;
  border-style: inset;
  border-color: white;
  border-radius: 10px;
}
